@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  /* background-image: url(./video/img.jpeg); */
 
}

.time-select,
.sound-picker {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.sound-picker button {
  color: white;
  width: 30%;
  height: 10%;
  background: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid white;
  transition: all 0.5s ease;
}
.time-select button{
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 25px;
  color: #fff;
  background-color:#3a9fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  font-family: 'Lato', sans-serif;
}
.time-select button:hover {
  box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
  background-color: #63b2fc;
  color: #fff;
  font-family: 'Lato', sans-serif;
}
.sound-picker button {
  border: none;
  height: 120px;
  width: 120px;
  padding: 30px;
  border-radius: 50%;
}
.sound-picker button:nth-child(1) {
  background: #465a3d;
}
.sound-picker button:nth-child(2) {
  background: #581d1d;
}
.sound-picker button img {
  height: 100%;
}



.player-container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.player-container svg {
  position: absolute;
  height: 30%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}
.player-container svg circle {
  transition: all 0.2s ease-in-out;
}
.time-display {
  color: #1F4467;
  position: absolute;
  font-size: 50px;
  bottom: 10%;
  font-family: 'Lato', sans-serif;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -10;
}
